<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="nav">
    <% if current_user %>
      <%= link_to "个人资料", edit_user_path(current_user.id) %>
      <%= link_to "退出", :logout, method: :post %>
    <% else %>
      <%= link_to "注册", new_user_path %> |
      <%= link_to "登录", :login %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
  </div>
  <%= yield %>

  </body>
</html>
